html {
    width: 1600px;

    font-size: 10px;
    line-height: 15px;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    line-height: 140%;
}

header {
    height: 95px;
    background-color: #000;
}

footer {
    background-color: #000;
    height: 184px;
}

ul {
    list-style: none;
}


h1, h2, button {
    text-transform: uppercase;
}

button {
    border: none;
    line-height: 160%;
}

input {
    border: none;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 6.4rem;
    letter-spacing: 4.5px;
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}


/* reusable  layout*/
.two-column-layout {
    display: flex;
    flex-direction: row;
}


/* by classes */
.header-navigation {
    color: #fff;
}

.header-navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
    width: 35%;
}

.your-life-block {
    text-align: center;
    background-color: lightgoldenrodyellow;
    height: 744px;
}

.socials-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
    width: 15%;
}

.rappresent-block {
    background-color: aqua;
    height: 842px;
}

.rappresent-content {
    flex: 1 407px;
}
.rappresent-img {
    flex: 1;
}

.our-community-block {
    background-color: #F5F6F7;
    height: 504px;
    text-align: center;
}

.implement-block {
    background-color: lightgoldenrodyellow;
    height: 842px;
}

.implement-img {
    flex: 50%;
}

.implement-content {
    flex: 50%;
}

.subscribe-block {
    text-align: center;
    background-color: aqua;
    height: 598px;
}

/*
.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}*/

.download-block {
    background-color: lightgoldenrodyellow;
    height: 468px;
    text-align: center;
}

.download-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
    width: 15%;
}

.footer-navigation {
    color: #fff;
}

.footer-navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
    width: 25%;
}