* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 10px;    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    line-height: 140%;
}

header {
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: #000;
}

footer {
    background-color: #000;
    height: 184px;
}

ul {
    list-style: none;
}

h2, h3, button {
    text-transform: uppercase;
}

button {
    border: none;
    line-height: 160%;
}

input {
    border: none;
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 6.4rem;
    letter-spacing: 4.5px;
    color: #fff;
}

h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}

a {
    color: #fff;
    text-decoration: none;
}

strong {
    color: #373737;
}

/* REUSABLE */
.two-column-layout, .three-column-layout {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    width: 128px;
    height: 50px;
    background: #00AFDB;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 184px;
    height: 46px;
    margin: 30px 0;
    text-transform: uppercase;
    
}

/* HEADER */
.header-navigation {
    padding-top: 24px;
    padding-right: 11px;
    margin: 0;
    color: #fff;
}

.header-navigation-buttons {
    height: inherit;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.header-navigation-buttons li {
    margin: 0 47px;
}

/*
.header-navigation-buttons li:nth-child(1) {
    text-decoration: underline;
    font-weight: 700;
}*/

/* YOUR LIFE BLOCK */
.your-life-block {
    height: 664px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-image: url(./assets/pic-1.png);
    background-position: bottom;
    line-height: 100px;
}

.your-life-content {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 33px;
}

.your-life-block h2 {
    margin-bottom: 8px;
    margin-left: 5px;
}

.your-life-text {
    /*margin-top: 10px;*/
    margin-left: 1px;
    margin-top: 1px;
    width: 504px;
    height: 50px;
    color: rgb(185, 179, 179);
    font-size: 18px;
    line-height: 2.5rem;
}

.your-life-buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 29px;
}

.socials-buttons {
    display: flex;
    justify-content: center; 
    list-style: none;
}

.socials-buttons li {
    margin: 15px;
}

/* RAPPRESENT BLOCK */
.rappresent-block {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 842px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rappresent-content {
    flex: 2;
    margin-left: 269px;
    margin-top: 8px;
}

.rappresent-content h3 {
    color: #373737;
    letter-spacing: 1px;
    width: 375px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
}

.rappresent-text {
    width: 405px;
    color: #4E4E4E;
    line-height: 19.6px;
    margin: 21px 0;
}

.rappresent-img {
    flex: 1;
    margin-bottom: 15px;
    margin-right: 269px;
}

/* OUR COMMUNITY BLOCK */
.our-community-block {
    padding: 0;
    margin: 0;
    background-color: #F5F6F7;
    height: 504px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /*text-align: center;*/
}

.our-community-content {
    width: 290px;
    margin-bottom: 16px;
    margin-left: 130px;
    text-align: center;

}

.our-community-block h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 15px 0;
    color: #373737;
}

.our-community-block p {
    color: #4E4E4E;
}

.our-community-slider {
    margin-bottom: 14px;
}

/* IMPLEMENT BLOCK */
.implement-block {
    background-color: #fff;
    height: 842px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}   

.implement-img {
    margin-bottom: 14px;
    margin-right: 70px;
}

.implement-content {
    margin-left: 170px;
    margin-bottom: 30px;
    width: 415px;
}

.implement-content h3 {
    color: #373737;
    letter-spacing: 1px;
    width: 375px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
}

.implement-content p {
    margin: 20px 0; 
    color: #4E4E4E;
}

.learn-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 184px;
    height: 46px;
    text-transform: uppercase;
}

/* SUBSCRIBE BLOCK */
.subscribe-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-image: url(./assets/pic-4.jpg);
    height: 524px; 
}

.subscribe-block h3 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2.8rem;
}

.email-input-area {
    width: 340px;
    height: 46px;
}

.button .submit-email {
    width: 25px;
}

.email-input-area::placeholder {
    margin-left: 40px;
}

/* DOWNLOAD BLOCK */
.download-block {
    background-color: #F5F6F7;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.download-block h3 {
    color: #373737;
}

.download-block p {
    color: #4E4E4E;
    margin: 15px 0;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.download-buttons .button {
    margin: 0 18px;
}

.apple-store {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 184px;
    height: 46px;
    margin: 30px 0;
    text-transform: uppercase;
}

.play-market {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 184px;
    height: 46px;
    margin: 30px 0;
    text-transform: uppercase;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-item {
    margin: 30px;   
}

.footer-navigation {
    color: #fff;
}

.footer-navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.footer-navigation-buttons li {
    margin: 30px;
}

.footer-credits p {
    color: #fff;
}

